@charset "ISO-8859-1";
:root {
  --primary-color: #595959;
  --secondary-color: #808F85;
  --accent-color: #91C499;
  --background-color: #F2E9DC;
  --text-color: #CFD11A;
}

body {
	background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.with-footer{
	display: flex;
	flex-direction: column;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1; /* Allow the category container to take up remaining space */
}

.category-column {
  margin: 10px;
  text-align: center;
}

.category-column div {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 18px; /* Increase font size */
}

.category-column div.colored {
  color: white; /* Set text color for colored categories */
}